
.content {
    text-align: center;
    margin: 1rem;
}

.content div {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    height: 40rem;
    width: 40rem;
    position: fixed;
    top: 55%;
    left: 50%;
    margin: -20rem;
}
